<%- include("partials/header") %>

    <h1 class="pottyTitle">POTTY POOPER</h1>

    <%  for(let i = 0; i < allPottiesEjs.length; i++) { %>
        <div>
            <h2>
                <%= allPottiesEjs[i]["name"] %>
            </h2>
            <img src="<%= allPottiesEjs[i]['image'] %>" alt="">
            <span><%= allPottiesEjs[i]["posted"].toDateString() %></span>
            <p>
                <!-- substring shortens the characters -->
                <!-- start of the content to the 75th index -->
                <!-- first arg first cut; second arg 2nd cut; we take anything in between -->
                <%= allPottiesEjs[i]["comments"].substring(0, 75) %>...
            </p>
            <a href="/potties/<%= allPottiesEjs[i]['_id'] %>">Read More</a>
        </div>
        <%}%>


            <!-- USING FOR EACH -->
            <!-- <%  allPottiesEjs.forEach(function(potty){ %>
                <h1>
                    <%= potty.name %>
                </h1>
                <% }) %> -->

            <%- include("partials/footer") %>